#container_games_prices, #container_games_owners, #dynamic_prices{
    margin: 50px auto 50px auto;
    width: 80%;
}

#containerStats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

div#containerBoxPlot{
    width: 80%;
    height: 50px;
    margin: 50px auto 50px auto;
    display: flex;
}
div#interkwartiel{
    width: 100%;
    border: 2px #3f475a solid;
    text-align: center;
}

div#boxplotLeft{
    border-left: red 2px solid;
    width: 100%;
    display: flex;
    align-items: center;
}

div#boxplotLeft hr {
    width: 100%;
    border: 1px solid red;
    background-color: red;
}



div#boxplotRight{
    border-right: green 2px solid;
    width: 100%;
    display: flex;
    align-items: center;
}
div#boxplotRight hr {
    width: 100%;
    border: 1px solid green;
    background-color: green;
}


div#medianBoxplot{
    width: 0;
    border: cornflowerblue solid 1px;
    background-color: cornflowerblue;
    padding: 0;
    height: calc(100% - 2px);
}

div#containerTextStats{
    width: 30%;
    margin: auto auto 20px auto;
}