<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link href="{% static 'admin/css/details_style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'fetch_details' 12345 %}".replace(/12345/, '{{ appid }}')
            }).done(function (data) {
                if (data.success) {
                    document.getElementById('containerInfo').style.display = 'flex'

                    var game_data = data.details['{{ appid }}']['data']
                    var details_ss = data.details_ss

                    document.getElementById('name').innerHTML = game_data['name']
                    document.getElementById('about_the_game').innerHTML = game_data['about_the_game']
                    document.getElementById('short_description').innerHTML = game_data['short_description']
                    document.getElementById('supported_languages').innerHTML = game_data['supported_languages']
                    document.getElementById('release_date').innerHTML = "<b>Release date: </b>" + game_data['release_date']['date']
                    document.getElementById('developers').innerHTML = "<p><b>Devloper(s): </b>" + game_data['developers'] + "</p>"
                    document.getElementById('publishers').innerHTML = "<p><b>Publisher(s): </b>" + game_data['publishers'] + "</p>"
                    document.getElementById('owners').innerHTML = "<p><b>Owners: </b>" + details_ss['owners'] + "</p>"
                    document.getElementById('price').innerHTML = "<p><b>Price: </b>" + parseFloat(details_ss['price'] / 100) + "$" + "</p>"
                    if (game_data['website'] !== null) {
                        document.getElementById('link').href = game_data['website']
                    }
                    setRating(details_ss)
                    setPlatforms(game_data['platforms'], game_data['website'])
                    setWebsite(game_data['website'])
                    setUpcoming(game_data['release_date'])
                    validateAboutDescription(game_data['about_the_game'], game_data['short_description'])
                } else {
                    location.href = "{% url 'index' %}"
                }
            })
        });

        function setRating(details_ss) {
            const pos = details_ss['positive']
            const neg = details_ss['negative']
            const total = pos + neg
            const neg_frac = parseInt(total / neg)
            document.getElementById('dislikeAmount').innerHTML = neg + " (" + neg_frac + "%)"
            document.getElementById('likeAmount').innerHTML = pos + " (" + (100 - neg_frac) + "%)"
            console.log(neg, details_ss['positive'], details_ss['negative'])
            document.getElementById('span_rating_count').innerHTML = total
            document.getElementById('containerDislike').setAttribute("style", "width:10%".replace('10%', neg_frac + "%"))
        }

        function validateAboutDescription(about, description) {
            if (about === description) {
                document.getElementById('short_description').style.display = 'none'
            }
        }

        function setWebsite(website_data) {
            if (website_data !== null) {
                {#document.getElementById('website').innerHTML = website_data#}
                document.getElementById('link').href = website_data
            }
        }

        function setUpcoming(upcoming_data) {
            if (upcoming_data['coming_soon']) {
                document.getElementById('release_date').innerHTML = "COMING SOON! - " + upcoming_data['date']
            }
        }

        function setPlatforms(platforms, website_data) {
            if (website_data === null) {
                document.getElementById('linkDiv').style.display = "none"
            }

            if (!platforms['windows']) {
                document.getElementById('windowsDiv').style.display = "none"
            }
            if (!platforms['mac']) {
                document.getElementById('macosDiv').style.display = "none"
            }
            if (!platforms['linux']) {
                document.getElementById('linuxDiv').style.display = "none"
            }
        }

    </script>
</head>
<body>
{% include 'header.html' %}
<div id="containerInfo">
    <div id="containerTop">
        <h1 id="name"></h1>
        <div id="platforms">
            <div id="linkDiv">
                <a id="link" href=""><img class="os_icon" src="{% static 'admin/img/url.svg' %} " alt="website"></a>
            </div>

            <div id="windowsDiv">
                <img id="windows" class="os_icon" src="{% static 'admin/img/windows.svg' %}" alt="windows">
            </div>

            <div id="macosDiv">
                <img id="macos" class="os_icon" src="{% static 'admin/img/apple.svg' %}" alt="Macos">
            </div>

            <div id="linuxDiv">
                <img id="linux" class="os_icon" src="{% static 'admin/img/linux.svg' %}" alt="Linus">
            </div>
        </div>
    </div>

    <div id="containerDate">

        <div id="containerLeft">
            <div id="developers"></div>
            <div id="publishers"></div>
            <p id="release_date"></p>
            <p id="coming_soon"></p>
            <p id="owners"></p>
            <p id="price"></p>
        </div>

        <div id="containerlikes">
            <h3>Like - Dislike ratio</h3>
            <h4>Total: <span style="color: #004080" id="span_rating_count">Loading...</span></h4>

            <div id="containerLikeDislikeRatio">
                <div id="containerLike">
                    <p id="likeAmount"></p>
                </div>

                <div id="containerDislike">
                    <p id="dislikeAmount"></p>
                </div>

            </div>

        </div>

    </div>


    <div id="containerAboutDescription">
        <h3>About:</h3>
        {% autoescape off %}
            <div id="about_the_game"></div>
            <div id="short_description"></div>{% endautoescape %}
    </div>

    <div id="containerLanguages">
        <h3>Supported languages:</h3>
        <p id="supported_languages"></p>
    </div>

</div>
</body>
</html>