<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'admin/css/index_style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{# Header section (steam icon and bar) #}
{% include 'header.html' %}
{#Main container#}
<div id="container">

    {#    Container for the form#}
    {#    <div id="containerForm">#}
    {#        <form id="form_filter" action="{% url 'filterData' %}" method="get">#}
    {#            <div id="containerReverse">#}
    {#                <select id="select" name="key">#}
    {#                    {% for key in keys %}#}
    {#                        <option name="{{ key }}">{{ key }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}

    {#            </div>#}
    {#            <input type="submit">#}
    {#        </form>#}
    {#        <br>#}
    {#    </div>#}

    {#    Data info#}
    {#    <h1>Filtered on key: <span style="color: #004080">{{ filter }}</span></h1>#}
    {#    <img id="filter" style="cursor: pointer" src="{% static 'admin/img/reverse.svg' %}" alt="reverse"#}
    {#         onclick="reverseList()" width="30px"/>#}
    <form id="form_filter" action="{% url 'filterData' %}" method="get">
        <select id="select" name="key">
            {% for key in keys %}
                <option name="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select><br>
        <input id="hidden_reverse_status" type="hidden" name="reverse_list" value="{{ reverse }}">
        <input type="submit">
    </form>
    <img class="os_icon" src="{% static 'admin/img/reverse.svg' %}" alt="Reverse list"
         onclick="reverseList()" width="30px">
    <h1>Showing <span style="color: #004080" id="span_item_count">Loading...</span> items</h1>
    {% if messages %}
        {% for message in messages %}
            <p id="message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {#    <input id="searchbar" type="text">#}

    <div id="loadingPlaceholder">
        <h1>Fetching results from Steam API</h1>
    </div>
    <div id="containerPerItem">
        <h1 class="name"></h1>
        <h1 class="appid"></h1>
    </div>
</div>
</body>
<script>


    {#Declares the loader value#}
    $(document).ready(function () {

        {#$("#searchbar").change(function () {#}
        {#    value = $("#searchbar").val()#}
        {#    $.ajax({#}
        {#        url: "{% url 'search' input=12345  %}".replace(/12345/, value),#}
        {#    }).done(function (data) {#}
        {#        console.log(data.app)#}
        {#    });#}


        $.ajax({
            url: "{% url 'fetch_steam_apps' filter_key=12345 reversed=reverse %}".replace(/12345/, '{{ filter_key }}'),
        }).done(function (data) {

            const filter_keys = data.keys;
            var select = document.getElementById('select');
            for (let i = 0; i < filter_keys.length; i++) {
                var option = document.createElement("option")
                option.innerText = filter_keys[i]
                select.add(option)
            }

            {#Sets the value of the select option so that the previous filter key is selected#}
            var select = document.getElementById('select')
            var options = select.options;
            for (var opt, j = 0; opt = options[j]; j++) {
                if (opt.value === '{{ filter_key }}') {
                    select.selectedIndex = j;
                    break;
                }
            }

            document.getElementById('loadingPlaceholder').style.display = "none"
            var loader = 0

            {#Calls the function that loads 10 elements from the JSON#}
            loadmore()

            {#Scroll detection on the window#}
            window.onscroll = function (ev) {

                {#If the user's scroll position is at the bottom of the window = load 10 more elements from the list#}
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    loadmore()
                }
            }

            {#Load more function#}

            function loadmore() {
                const dict_list = data.apps;
                console.log('{{ reverse }}')
                if ('{{ reverse }}'.toLowerCase() === 'true') {
                    console.log('reversing')
                    dict_list.reverse();
                }

                for (i = loader * 10; i < (loader * 10) + 10; i++) {
                    console.log('Loading item: ' + dict_list[i]['appid'])

                    document.getElementById('span_item_count').innerText = i + 1

                    var item = document.getElementById('containerPerItem')
                    var clone = item.cloneNode(true)

                    clone.style.display = 'flex'

                    clone.querySelector('.name').innerText = dict_list[i]['name']
                    clone.querySelector('.appid').innerText = "ID: " + dict_list[i]['appid']

                    clone.addEventListener('click', (evt) => {
                        try {

                            var app_id
                            if (evt.target.id === "containerPerItem") {
                                app_id = evt.target.querySelector('.appid').innerText;
                            } else {
                                app_id = evt.target.parentElement.querySelector('.appid').innerText;
                            }

                            app_id = app_id.replace('ID: ', "")
                            console.log(app_id)
                            if (app_id > 0) {
                                location.href = '{% url 'open_app_details' appid=12345 %}'.replace(/12345/, app_id)
                            } else {
                                alert('Error launching details. Please choose another game.')
                            }
                        } catch (e) {
                            console.log(e)
                        }
                    })

                    document.body.appendChild(clone)
                }

                loader++
            }

        });
    });

    function reverseList() {
        document.getElementById('hidden_reverse_status').value = '{{ reverse }}'.toLowerCase() !== 'true';
        document.getElementById('form_filter').submit();
    }
</script>
</html>