<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'admin/css/index_style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{# Header section (steam icon and bar) #}
{% include 'header.html' %}
{#Main container#}
<div id="container">
    <p id="stats"></p>
    <div id="charts" onclick="location.href = {% url 'stats' %}">
        Statistics
    </div>
    <div id="top100" onclick="location.href = {% url 'top100' %}">
        Top 100 Apps
    </div>
    <h1>Sorting style: {{ checked_button }}</h1>

    <form id="form_filter" action="{% url 'filterData' %}" method="get">
        <select id="select" name="key">
            {% for key in keys %}
                <option name="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select><br>
        <input id="hidden_reverse_status" type="hidden" name="reverse_list" value="{{ reverse }}">
        <div id="containerRadioGroup">
            <input type="radio" id="binary" name="radio_sort" value="binary">
            <label for="binary">Binary Search Tree</label><br>
            <input type="radio" id="merge" name="radio_sort" value="merge">
            <label for="merge">Merge Sort</label><br>
            <input type="radio" id="insertion" name="radio_sort" value="insertion">
            <label for="insertion">Insertion Sort (slow)</label>
        </div>

        <input type="submit">
    </form>
    <img id="filter_icon" src="{% static 'admin/img/reverse.svg' %}" alt="Reverse list"
         onclick="reverseList()" width="30px">
    <h1>Showing <span style="color: #004080" id="span_item_count">Loading...</span>/<span style="color: #004080"
                                                                                          id="span_item_length">Loading...</span>
        items</h1>
    {% if messages %}
        {% for message in messages %}
            <p id="message">{{ message }}</p>
        {% endfor %}
    {% endif %}


    <div id="loadingPlaceholder">
        <h1>Fetching results from Steam API</h1>
    </div>
    <div id="containerPerItem">
        <div id="containerNameId">
            <h1 class="name"></h1>
            <p class="appid"></p>
        </div>

        <table>
            <tr>
                <td><p>Developer</p></td>
                <td><p class="developer"></p></td>
            </tr>
            <tr>
                <td><p>Publisher</p></td>
                <td><p class="publisher"></p></td>
            </tr>
            <tr>
                <td><p>Positive</p></td>
                <td><p class="positive"></p></td>
            </tr>
            <tr>
                <td><p>Negative</p></td>
                <td><p class="negative"></p></td>
            </tr>
            <tr>
                <td><p>Owners</p></td>
                <td><p class="owners"></p></td>
            </tr>
            <tr>
                <td><p>Price</p></td>
                <td><p class="price"></p></td>
            </tr>
        </table>
        <p class="populariteit"></p>
    </div>
</div>
</body>
<script>


    $(document).ready(function () {
        $.ajax({
            {#url to fetch info from#}
            url: "{% url 'fetch_steam_apps' filter_key=12345 reversed=reverse sort_type=checked_button %}".replace(/12345/, '{{ filter_key }}'),
        }).done(function (data) {
            {#get all the label_fractions (ex: 500k - 1m downloads = 23% of the games)#}
            const frac_labels = data.fraction_labels
            document.getElementById('span_item_length').innerText = '108081'

            {#set var of the checekd radio-button#}
            var radioButton = '{{ checked_button }}'
            {#activate the previous selected radio-button. Disable the others (just in case something goes wrong which it shouldnt)#}
            switch (radioButton) {
                case 'binary':
                    document.getElementById('binary').checked = true
                    document.getElementById('merge').checked = false
                    document.getElementById('insertion').checked = false
                    break
                case 'merge':
                    document.getElementById('binary').checked = false
                    document.getElementById('merge').checked = true
                    document.getElementById('insertion').checked = false
                    break
                case 'insertion':
                    document.getElementById('binary').checked = false
                    document.getElementById('merge').checked = false
                    document.getElementById('insertion').checked = true
                    break
            }

            {#Add the keys in the select element. Also preselect the previous selected option#}
            const filter_keys = data.keys;
            var select = document.getElementById('select');
            for (let i = 0; i < filter_keys.length; i++) {
                var option = document.createElement("option")
                option.innerText = filter_keys[i]
                if ('{{ checked_button }}' === 'binary' && filter_keys[i] !== 'appid' && filter_keys[i] !== 'name') {
                    option.disabled = true
                }
                select.add(option)

            }

            {#Sets the value of the select option so that the previous filter key is selected#}
            var select = document.getElementById('select')
            var options = select.options;
            for (var opt, j = 0; opt = options[j]; j++) {
                if (opt.value === '{{ filter_key }}') {
                    if ('{{ checked_button }}' === 'binary'
                        && '{{ filter_key }}' !== 'appid'
                        && '{{ filter_key }}' !== 'name') {
                        select.selectedIndex = 0;
                        break
                    } else {
                        select.selectedIndex = j;
                        break;

                    }

                }
            }

            {#Check to see if the radio-button which it selected doesnt conflict with the select-option#}
            {#for example: the binary search tree can only sort name and id#}
            var radios = document.forms['form_filter'].elements['radio_sort'];
            for (let i = 0; i < radios.length; i++) {
                radios[i].onclick = function () {
                    if (this.value === "binary") {
                        var select = document.getElementById('select')
                        var options = select.options;
                        for (var opt, j = 0; opt = options[j]; j++) {
                            if (opt.innerHTML !== 'appid' && opt.innerHTML !== 'name') {
                                if (opt.selected) {
                                    select.selectedIndex = 0;
                                }
                                opt.disabled = true
                            }
                        }
                    } else {
                        var select = document.getElementById('select')
                        var options = select.options;
                        for (var opt, j = 0; opt = options[j]; j++) {
                            opt.disabled = false

                        }
                    }
                }
            }
            {#remove loading text#}
            document.getElementById('loadingPlaceholder').style.display = "none"
            var loader = 0

            {#Calls the function that loads 10 elements from the JSON#}
            loadmore()

            {#Scroll detection on the window#}
            window.onscroll = function (ev) {

                {#If the user's scroll position is at the bottom of the window = load 10 more elements from the list#}
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    loadmore()
                }
            }


            {#Load more function#}

            function loadmore() {
                const dict_list = data.apps;
                console.log('{{ reverse }}')
                if ('{{ reverse }}'.toLowerCase() === 'true') {
                    console.log('reversing')
                    dict_list.reverse();
                }
                {#load 10 times#}
                for (i = loader * 10; i < (loader * 10) + 10; i++) {
                    console.log('Loading item: ' + dict_list[i]['appid'])

                    {#update itemcount#}
                    document.getElementById('span_item_count').innerText = i + 1

                    {#clone placeholer and duplicate them i amount of times#}
                    var item = document.getElementById('containerPerItem')
                    var clone = item.cloneNode(true)

                    clone.style.display = 'flex'

                    {#set values of placeholder#}
                    clone.querySelector('.name').innerText = dict_list[i]['name']
                    clone.querySelector('.appid').innerText = "ID: " + dict_list[i]['appid']
                    clone.querySelector('.developer').innerHTML = dict_list[i]['developer']
                    clone.querySelector('.publisher').innerHTML = dict_list[i]['publisher']
                    clone.querySelector('.positive').innerHTML = dict_list[i]['positive']
                    clone.querySelector('.negative').innerHTML = dict_list[i]['negative']
                    clone.querySelector('.owners').innerHTML = dict_list[i]['owners']
                    clone.querySelector('.price').innerHTML = '$' + parseInt(dict_list[i]['price']) / 100
                    clone.querySelector('.populariteit').innerHTML = "This game is one of the top " + getFractionLabel(frac_labels, dict_list[i]['owners']) + '% most popular games'

                    {#listen to the click event (go to the details)#}
                    clone.addEventListener('click', (evt) => {
                        try {

                            var app_id
                            if (evt.target.id === "containerPerItem") {
                                app_id = evt.target.querySelector('.appid').innerText;
                            } else {
                                app_id = evt.target.parentElement.querySelector('.appid').innerText;
                            }

                            app_id = app_id.replace('ID: ', "")
                            console.log(app_id)
                            if (app_id > 0) {
                                location.href = '{% url 'open_app_details' appid=12345 %}'.replace(/12345/, app_id)
                            } else {
                                alert('Error launching details. Please choose another game.')
                            }
                        } catch (e) {
                            console.log(e)
                        }
                    })

                    document.body.appendChild(clone)
                }

                loader++
            }

        });
    });

    {#calculated the % of popularity#}

    function getFractionLabel(labels, owners) {
        var percentage = 0
        var ownersValue = parseInt(owners.split(' .. ')[0].replaceAll(',', ''))
        for (var i in labels) {
            var labelValue = parseInt(i.split(' .. ')[0].replaceAll(',', ''))

            if (ownersValue <= labelValue) {
                percentage += labels[i]
            }
        }
        return parseFloat(percentage).toFixed(2)

    }

    {#reverse list when icon is clicked#}

    function reverseList() {
        document.getElementById('hidden_reverse_status').value = '{{ reverse }}'.toLowerCase() !== 'true';
        document.getElementById('form_filter').submit();
    }
</script>
</html>